.about-content-div h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}
.about-content-div h5 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
}
.about-us-section-content {
  font-size: 1.5rem;
}
.about-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.main-about-div {
  background-color: aliceblue;
  min-height: 100vh;
}

.section-abouts {
  width: 70%;
  margin: auto;
}

.about-button {
  display: flex;
  justify-content: center;
  margin: auto;
}
.about-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  text-align: center;
  padding-top: 15px;
}

@media screen and (max-width: 769px) {
  .about-content-div {
    width: 90%;
  }
  .section-abouts {
    width: 90%;
  }
}

@media screen and (max-width: 426px) {
  .about-content-div {
    min-width: 100%;
  }
  .section-abouts {
    width: 100%;
  }
  .abous-us-h1 {
    text-align: center;
    font-size: 1.5rem !important;
  }
  .abous-us-h5 {
    text-align: center;
    font-size: 1.2rem !important;
  }
  .about-us-section-content {
    font-size: 0.8rem;
  }
  .about-us-button {
    font-size: 0.8rem;
  }
}
