.blog-card {
  display: flex;
  flex-direction: column;
}

.main-img {
  display: flex;
  justify-content: center;
  width: 100% !important;
  height: 500px !important;
  object-fit: fill;
  margin: auto !important;
  padding: 0% !important;
}

.main-div {
  width: 70%;
  margin: 30px auto;
}

.main-container {
  padding: 0;
}

.div-content h1 {
  font-size: 2rem;
  margin: 2rem 0;
  text-decoration: underline;
}
