.main-post-card-body p {
  font-size: 1.2rem !important;
  margin: 15px 0 0 0;
  padding: 0;
}

.main-h5 {
  font-size: 1.5rem;
  margin: 5px 0 10px 0;
}
.card {
  padding: 0;
}

#main-card {
  width: 70%;
  margin: 50px auto 0 auto;
  padding: 0;
}
#main-img {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
}
#main-img-div {
  padding: 0;
  margin: 0;
}

.navlink {
  text-decoration: none;
  color: black;
}

.card-body {
  padding: 0;
}

.card-content-text {
  padding: 20px;
}

@media screen and (max-width: 769px) {
  #main-card {
    width: 90%;
  }
  #main-img-div {
    max-height: 300px;
    width: 100%;

    padding: 0;
  }
}
@media screen and (max-width: 426px) {
  #main-img-div {
    max-height: 200px;
    width: 100%;

    padding: 0;
  }
  .main-h5 {
    font-size: 1.5rem;
    margin: 5px 0 0px 0;
  }
  .main-card-content {
    font-size: 2px !important;
  }
}
