.navbar-brand {
  font-size: 2.5rem;
  font-family: "Borel", cursive;
}

.nav-link {
  font-size: 1.5rem;
  margin: 0 10px;
  font-family: "Borel", cursive;
}

.navbar {
  background-color: invisible;
}

@media screen and (max-width: 769px) {
  .navbar-brand {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 426px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
  .nav-link {
    font-size: 1rem;
  }
}
